---
import AthenaComBase from '../../layouts/AthenaComBase.astro';

const title = 'Pricing for Your Dedicated Athena Assistant';
const description =
  'Learn how an Athena Assistant can support your executive needs and give you the peace of mind to delegate fearlessly. Get an Athena Assistant today.';
---

<style is:global>
  @media screen and (max-width: 991px) {
    .athena.nav[data-mobile-open='0'] .nav-links-container {
      display: none;
    }
    .athena.nav[data-mobile-open='1'] .nav-links-container {
      display: flex;
    }
    .athena.nav[data-mobile-open='0'] .trigger.hamburger {
      display: block;
    }
    .athena.nav[data-mobile-open='0'] .trigger.close {
      display: none;
    }
    .athena.nav[data-mobile-open='1'] .trigger.hamburger {
      display: none;
    }
    .athena.nav[data-mobile-open='1'] .trigger.close {
      display: block;
    }
  }
</style>

<AthenaComBase title={title} description={description} canonical="https://www.athena.com/pricing">
  <div data-wf--navigation-bar-version-2--variant="base">
    <div class="athena sticky-nav">
      <nav data-mobile-open="0" class="athena nav">
        <div class="athena nav_format_source mobile-links"></div>
        <a href="/" class="athena svg-logo-nav w-inline-block">
          <div class="athena svg-logo w-embed">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 123 20">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.75283 0L0 19.9715H2.61906L9.1665 2.7433L15.7139 19.9715H15.7625L15.6704 19.7292L15.767 19.9715H18.4674L10.7436 0H7.75283ZM12.1316 10.4173L12.8566 12.3252H12.8633L12.1316 10.4173Z"
                fill="currentColor"
                shape-rendering="geometricPrecision"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M112.285 0L104.533 19.9715H107.169L113.716 2.7433L120.264 19.9715H120.295L120.203 19.7291L120.3 19.9715H123L115.276 0H112.285ZM117.389 12.3252H117.396L116.664 10.4179L117.389 12.3252Z"
                fill="currentColor"
              />
              <path
                d="M18.8896 0H34.5985V2.28246H28.1916C28.0902 2.64418 28.0365 3.04932 28.0365 3.48835V16.4831C28.0365 18.1341 28.7969 19.3324 29.9883 19.4922V19.9715H23.5243V19.4922C24.7157 19.3058 25.4508 18.1341 25.4508 16.4831V3.48835C25.4508 3.04932 25.3989 2.64418 25.3001 2.28246H18.8896V0Z"
                fill="currentColor"
              />
              <path
                d="M76.0296 0V2.28246H65.7719C65.6706 2.64418 65.6168 3.04932 65.6168 3.48835V8.67333H74.2874V10.9558H65.6168V16.4831C65.6168 16.9205 65.6702 17.3261 65.7708 17.689H76.4071V19.9715H61.1047V19.4922C62.2961 19.3058 63.0312 18.1341 63.0312 16.4831V3.48835C63.0312 1.83738 62.2961 0.665719 61.1047 0.479318V2.7209e-06L76.0296 0Z"
                fill="currentColor"
              />
              <path
                d="M81.2071 19.9715V19.4922C82.3985 19.3058 83.1336 18.1341 83.1336 16.4831V3.48835C83.1336 1.83738 82.3985 0.665719 81.2071 0.479318V2.7209e-06H87.6711V0.479318C87.2137 0.55088 86.8198 0.767656 86.5081 1.10102L96.5352 15.2506V3.48835C96.5352 1.83738 95.8001 0.665719 94.6087 0.479318V2.7209e-06H101.073V0.479318C99.8813 0.665719 99.1208 1.83738 99.1208 3.48835V16.4831C99.1208 18.1341 99.8813 19.3324 101.073 19.4922V19.9715H94.6087V19.4922C95.1355 19.4097 95.5732 19.1346 95.8974 18.7106L85.8731 4.56491V17.6885C86.1522 18.6959 86.7952 19.3747 87.6711 19.4922V19.9715H81.2071Z"
                fill="currentColor"
              />
              <path
                d="M41.0357 0H38.5095V0.028533H36.535V0.507848C37.7264 0.694249 38.4616 1.86591 38.4616 3.51688V16.5117C38.4616 18.1626 37.7264 19.3343 36.535 19.5207V20H42.9991V19.5207C41.8077 19.3609 41.0472 18.1626 41.0472 16.5117V10.9843H51.5471V17.4743C51.3146 18.6071 50.6571 19.373 49.7133 19.5207V20H56.1773V19.5207C54.9859 19.3609 54.2254 18.1626 54.2254 16.5117V3.51688C54.2254 1.86591 54.9859 0.694249 56.1773 0.507848V0.028533H54.0733V0H51.5471V0.028533H49.7133V0.507848C50.6571 0.65551 51.3146 1.42146 51.5471 2.55418V8.70186H41.0472V3.51688C41.0472 1.86591 41.8077 0.694249 42.9991 0.507848V0.028533H41.0357V0Z"
                fill="currentColor"
              />
            </svg>
          </div>
        </a>

        <div class="athena container nav-links-container">
          <div class="athena nav-link-block has-dropdown">
            <div class="athena nav-link-block">
              <div class="athena nav-text">Pricing</div>
              <div class="athena svg-icon _15-width w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 15 8" fill="none">
                  <path
                    d="M1 1L7.35085 6.5L13.7017 1"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="bevel"
                  />
                </svg>
              </div>
            </div>
            <div class="athena nav-dropdown-wrapper" style="display: none;">
              <div class="athena nav-dropdown-link-container">
                <a href="/pricing" aria-current="page" class="athena nav-link-block w-inline-block w--current">
                  <div class="athena nav-text dropdown-link">Individuals</div>
                </a>
              </div>
            </div>
          </div>

          <a href="/how-it-works" class="athena nav-link-block w-inline-block"><div class="athena nav-text">How it works</div></a>
          <a href="/playbooks" class="athena nav-link-block w-inline-block"><div class="athena nav-text">Playbooks</div></a>
          <a href="https://jobs.athena.com" target="_blank" rel="noreferrer" class="athena nav-link-block w-inline-block">
            <div class="athena nav-text">Careers</div>
          </a>
          <div>
            <a href="/signup" class="w-inline-block">
              <div class="button"><div class="button-text">Join now</div></div>
            </a>
          </div>
        </div>

        <div class="athena nav-link-block hamburger">
          <div data-openbutton class="athena trigger hamburger">
            <div class="athena svg-icon _24-width w-embed">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 23 19" fill="none">
                <path d="M1 1.55469H22" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                <path d="M1 9.42969H22" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                <path d="M1 17.3047H22" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div data-closebutton class="athena trigger close">
            <div class="athena svg-icon _24-width w-embed">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 19 19" fill="none">
                <path d="M2.07568 2.00586L16.9249 16.8551" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                <path d="M16.9243 2.00586L2.07507 16.8551" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <main class="athena page-wrapper with-top-space">
    <section>
      <div class="athena section-background deepforest">
        <div class="athena prevent-overflow">
          <div class="athena relative-container">
            <div class="athena section-padding large">
              <div class="athena side-padding default">
                <div class="athena max-width-center">
                  <div class="athena max-width medium-s">
                    <div class="athena text-align center">
                      <div class="athena container section-default swiper-container">
                        <h2 class="athena h2">Athena plans and pricing</h2>
                        <div>
                          <div class="athena interactive annual-toggle">
                            <div data-monthlytext class="athena body-default">Monthly</div>
                            <div class="athena custom pricing-annual-container">
                              <div class="embed-autoheight w-embed">
                                <style>
                                  .switch {
                                    position: relative;
                                    display: inline-block;
                                    width: 28.2px;
                                    height: 16px;
                                    margin: 0;
                                  }

                                  .switch input {
                                    opacity: 0;
                                    width: 0;
                                    height: 0;
                                  }

                                  .slider {
                                    position: absolute;
                                    cursor: pointer;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    background-color: #ccc;
                                    -webkit-transition: 0.4s;
                                    transition: 0.4s;
                                  }

                                  .slider:before {
                                    position: absolute;
                                    content: '';
                                    height: 12.22px;
                                    width: 12.22px;
                                    left: 1.88px;
                                    bottom: 1.88px;
                                    background-color: white;
                                    -webkit-transition: 0.4s;
                                    transition: 0.4s;
                                  }

                                  input:checked + .slider {
                                    background-color: #34c759;
                                  }

                                  input:focus + .slider {
                                    box-shadow: 0 0 1px #34c759;
                                  }

                                  input:checked + .slider:before {
                                    -webkit-transform: translateX(12.22px);
                                    -ms-transform: translateX(12.22px);
                                    transform: translateX(12.22px);
                                  }

                                  .slider.round {
                                    border-radius: 16px;
                                  }

                                  .slider.round:before {
                                    border-radius: 50%;
                                  }
                                </style>
                                <label class="switch">
                                  <input id="plan_toggle" type="checkbox" checked />
                                  <span class="slider round"></span>
                                </label>
                              </div>
                              <div class="athena text-color deepforest"><div class="athena body-default">Annual</div></div>
                              <div data-salepilltop class="athena templated-texts pilled-sale-pale lit">Better savings</div>
                            </div>
                          </div>
                        </div>

                        <div id="w-node-_2446728a-2ee5-244a-ef55-2ec3d774d44b-4dea49a9" class="athena card pricing-base">
                            <div class="athena section-background glass-01">
                              <div class="athena padded-element _32">
                                <div class="athena container default">
                                  <div class="athena templated-texts pricing-title">Executive Assistant</div>
                                  <div>
                                    <div class="athena flexbox default-horizontal pricing">
                                      <div class="athena body-head-48 serif">$</div>
                                      <div data-price class="athena body-head-48 numberfont">3,000</div>
                                    </div>
                                  </div>
                                  <div data-frequency class="athena templated-texts pricing-subtext">per month, annual commitment ($36,000/yr)</div>
                                  <div class="athena max-width-center"><div class="athena max-width xxxxsmall"></div></div>

                                  <div data-cardtoggle class="athena interactive pills-payment-frequency">
                                    <div data-mode="monthly" class="athena pilled-toggle active">Pay monthly</div>
                                    <div data-mode="upfront" class="athena pilled-toggle">Pay upfront</div>
                                  </div>

                                  <div data-monthlynotice class="athena interactive monthly-notice">
                                    <div class="athena pilled-text active">Billed monthly, cancel anytime</div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="athena grid pricing-body">
                              <div class="athena text-align left">
                                <div class="athena flexbox x-left gap16">
                                  <div class="athena body-default"><strong>Includes:</strong></div>

                                  <div class="athena flexbox text-icon-combo">
                                    <div class="athena svg-icon w-embed">
                                      <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top:2px">
                                        <path
                                          d="M8.81802 12.3107L10.9393 14.432L15.182 10.1893M21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12Z"
                                          stroke="currentColor"
                                          stroke-width="1.5"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                        />
                                      </svg>
                                    </div>
                                    <div class="athena flexbox x-left gap8">
                                      <div class="athena body-default">
                                        A world-class Executive Assistant (EA): Vetted, trained, device equipped, and employed by Athena
                                      </div>
                                    </div>
                                  </div>

                                  <div class="athena flexbox text-icon-combo">
                                    <div class="athena svg-icon w-embed">
                                      <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top:2px">
                                        <path
                                          d="M8.81802 12.3107L10.9393 14.432L15.182 10.1893M21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12Z"
                                          stroke="currentColor"
                                          stroke-width="1.5"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                        />
                                      </svg>
                                    </div>
                                    <div class="athena flexbox x-left gap8"><div class="athena body-default">Algorithmic matching + tailored onboarding</div></div>
                                  </div>

                                  <div class="athena flexbox text-icon-combo">
                                    <div class="athena svg-icon w-embed">
                                      <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top:2px">
                                        <path
                                          d="M8.81802 12.3107L10.9393 14.432L15.182 10.1893M21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12Z"
                                          stroke="currentColor"
                                          stroke-width="1.5"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                        />
                                      </svg>
                                    </div>
                                    <div class="athena flexbox x-left gap8"><div class="athena body-default">Playbooks + AI delegation tools</div></div>
                                  </div>

                                  <div class="athena flexbox text-icon-combo">
                                    <div class="athena svg-icon w-embed">
                                      <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top:2px">
                                        <path
                                          d="M8.81802 12.3107L10.9393 14.432L15.182 10.1893M21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12Z"
                                          stroke="currentColor"
                                          stroke-width="1.5"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                        />
                                      </svg>
                                    </div>
                                    <div class="athena flexbox x-left gap8"><div class="athena body-default">EA performance management</div></div>
                                  </div>

                                  <div data-salevalue class="athena pilled-sale">See upfront pricing to save ~8%</div>
                                </div>
                              </div>

                              <div data-dynamic data-tracked="yes" data-loc="EA - M Pay - A Commit" class="athena top-margin _32">
                                <div data-wf--web-component-library--button-version-2--variant="filled-white-no-border">
                                  <a href="/signup" class="web-component-library--link-block w-inline-block">
                                    <div class="web-component-library--button w-variant-9275b217-de2f-5b0e-3c14-b9cccf1f07dd">
                                      <div class="web-component-library--button-text">Get started</div>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="athena section-background sage"></div>
    </section>

    <section data-wf--section---final-cta--variant="eucalyptus">
      <div class="athena section-background templated final-cta w-variant-f46fe86a-6852-db36-f75c-93754a88df13">
        <div class="athena section-padding default">
          <div class="athena side-padding default">
            <div class="athena text-align center">
              <div class="athena container section-default">
                <div class="athena max-width xsmall"><h2 class="athena h2">Hire an elite <br />executive assistant</h2></div>
                <div class="athena text-color templated final-cta">
                  <div class="athena max-width xxsmall"><div class="athena body-20">Schedule a call to see how an Athena can <br />power your success.</div></div>
                </div>
                <div data-tracked="yes" data-loc="Final CTA" class="athena fill-width-container">
                  <div data-wf--web-component-library--button-version-2--variant="filled-white-no-border">
                    <a href="/signup" class="web-component-library--link-block w-inline-block">
                      <div class="web-component-library--button w-variant-9275b217-de2f-5b0e-3c14-b9cccf1f07dd">
                        <div class="web-component-library--button-text">Book a call</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="athena section-background deepforest footer-special">
      <div class="athena section-padding footer">
        <div class="athena side-padding default">
          <div class="athena grid footer-grid">
            <div id="w-node-_977dea7e-1a28-cdce-766e-eecaa8cb38d7-46825cda" class="athena container default">
              <a
                href="https://athena-82fb4f.webflow.io/athena-2025/homepage"
                id="w-node-_3baf290f-4a6f-02cf-138b-8bde46825cdf-46825cda"
                class="w-inline-block"
              >
                <img
                  src="https://cdn.prod.website-files.com/6513fda5217cc80d379e2473/67c54beacf7fd1150efb295b_Wordmark.svg"
                  data-figma-image-id="67c54beacf7fd1150efb295b"
                  alt=""
                  data-figma-id="223:449"
                  data-figma-image-hash="a033fa5768c1991c098aed6c0a42f6ad"
                  loading="lazy"
                />
              </a>

              <div id="w-node-_3baf290f-4a6f-02cf-138b-8bde46825ce5-46825cda" class="w-layout-hflex athena flexbox default-horizontal y-center">
                <a href="https://www.facebook.com/athenacareersph/" class="w-inline-block"><div class="w-embed">
                    <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M9.396 22.5H13.396V14.49H17L17.396 10.51H13.396V8.5C13.396 8.23478 13.5014 7.98043 13.6889 7.79289C13.8764 7.60536 14.1308 7.5 14.396 7.5H17.396V3.5H14.396C13.0699 3.5 11.7981 4.02678 10.8605 4.96447C9.92278 5.90215 9.396 7.17392 9.396 8.5V10.51H7.396L7 14.49H9.396V22.5Z"
                        fill="#E9E9E0"
                      />
                    </svg>
                  </div></a
                >
                <a href="https://www.instagram.com/athenago/" class="w-inline-block"><div class="w-embed">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M16.396 3C17.7221 3 18.9938 3.52678 19.9315 4.46447C20.8692 5.40215 21.396 6.67392 21.396 8V16C21.396 17.3261 20.8692 18.5979 19.9315 19.5355C18.9938 20.4732 17.7221 21 16.396 21H8.396C7.06991 21 5.79814 20.4732 4.86046 19.5355C3.92278 18.5979 3.396 17.3261 3.396 16V8C3.396 6.67392 3.92278 5.40215 4.86046 4.46447C5.79814 3.52678 7.06991 3 8.396 3H16.396ZM12.396 8C11.3351 8 10.3177 8.42143 9.56757 9.17157C8.81742 9.92172 8.396 10.9391 8.396 12C8.396 13.0609 8.81742 14.0783 9.56757 14.8284C10.3177 15.5786 11.3351 16 12.396 16C13.4569 16 14.4743 15.5786 15.2244 14.8284C15.9746 14.0783 16.396 13.0609 16.396 12C16.396 10.9391 15.9746 9.92172 15.2244 9.17157C14.4743 8.42143 13.4569 8 12.396 8ZM12.396 10C12.9264 10 13.4351 10.2107 13.8102 10.5858C14.1853 10.9609 14.396 11.4696 14.396 12C14.396 12.5304 14.1853 13.0391 13.8102 13.4142C13.4351 13.7893 12.9264 14 12.396 14C11.8656 14 11.3569 13.7893 10.9818 13.4142C10.6067 13.0391 10.396 12.5304 10.396 12C10.396 11.4696 10.6067 10.9609 10.9818 10.5858C11.3569 10.2107 11.8656 10 12.396 10ZM16.896 6.5C16.6308 6.5 16.3764 6.60536 16.1889 6.79289C16.0014 6.98043 15.896 7.23478 15.896 7.5C15.896 7.76522 16.0014 8.01957 16.1889 8.20711C16.3764 8.39464 16.6308 8.5 16.896 8.5C17.1612 8.5 17.4156 8.39464 17.6031 8.20711C17.7906 8.01957 17.896 7.76522 17.896 7.5C17.896 7.23478 17.7906 6.98043 17.6031 6.79289C17.4156 6.60536 17.1612 6.5 16.896 6.5Z"
                        fill="#E9E9E0"
                      />
                    </svg>
                  </div></a
                >
                <a href="https://www.youtube.com/@AthenaCareersPH/" class="w-inline-block"><div class="w-embed">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.396 4C13.251 4 14.128 4.022 14.978 4.058L15.982 4.106L16.943 4.163L17.843 4.224L18.665 4.288C19.5572 4.35589 20.3968 4.73643 21.036 5.3626C21.6751 5.98877 22.0728 6.8204 22.159 7.711L22.199 8.136L22.274 9.046C22.344 9.989 22.396 11.017 22.396 12C22.396 12.983 22.344 14.011 22.274 14.954L22.199 15.864L22.159 16.289C22.0728 17.1798 21.6749 18.0115 21.0356 18.6377C20.3962 19.2639 19.5564 19.6443 18.664 19.712L17.844 19.775L16.944 19.837L15.982 19.894L14.978 19.942C14.1178 19.9793 13.257 19.9986 12.396 20C11.535 19.9986 10.6742 19.9793 9.814 19.942L8.81 19.894L7.849 19.837L6.949 19.775L6.127 19.712C5.23481 19.6441 4.3952 19.2636 3.75604 18.6374C3.11688 18.0112 2.71919 17.1796 2.633 16.289L2.593 15.864L2.518 14.954C2.44183 13.9711 2.40114 12.9858 2.396 12C2.396 11.017 2.448 9.989 2.518 9.046L2.593 8.136L2.633 7.711C2.71915 6.82055 3.11671 5.98905 3.75566 5.36291C4.39461 4.73676 5.23399 4.35612 6.126 4.288L6.947 4.224L7.847 4.163L8.809 4.106L9.813 4.058C10.6735 4.02073 11.5347 4.00139 12.396 4ZM10.396 9.575V14.425C10.396 14.887 10.896 15.175 11.296 14.945L15.496 12.52C15.5874 12.4674 15.6633 12.3916 15.7161 12.3003C15.7689 12.209 15.7967 12.1055 15.7967 12C15.7967 11.8945 15.7689 11.791 15.7161 11.6997C15.6633 11.6084 15.5874 11.5326 15.496 11.48L11.296 9.056C11.2048 9.00332 11.1013 8.9756 10.9959 8.97562C10.8905 8.97563 10.7871 9.00339 10.6958 9.0561C10.6046 9.1088 10.5289 9.1846 10.4762 9.27587C10.4236 9.36713 10.3959 9.47065 10.396 9.576V9.575Z"
                        fill="#E9E9E0"
                      />
                    </svg>
                  </div></a
                >
                <a href="https://x.com/athenago/" class="w-inline-block"><div class="w-embed">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13.729 10.929L18.942 5H17.706L13.179 10.147L9.565 5H5.396L10.862 12.783L5.396 19H6.631L11.41 13.564L15.226 19H19.396L13.729 10.929ZM12.037 12.852L11.483 12.076L7.076 5.911H8.974L12.531 10.888L13.083 11.664L17.706 18.134H15.809L12.037 12.852Z"
                        fill="#E9E9E0"
                      />
                    </svg>
                  </div></a
                >
                <a href="https://www.linkedin.com/company/athenago/" class="w-inline-block"><div class="w-embed">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7.836 8.885C8.636 8.885 9.276 8.235 9.276 7.445C9.276 6.655 8.626 6.005 7.836 6.005C7.046 6.005 6.396 6.655 6.396 7.445C6.396 8.235 7.046 8.885 7.836 8.885ZM10.646 9.975V17.995H13.126V14.035C13.126 12.985 13.326 11.975 14.616 11.975C15.906 11.975 15.906 13.175 15.906 14.095V17.995H18.396V13.595C18.396 11.435 17.936 9.77501 15.416 9.77501C14.206 9.77501 13.396 10.435 13.066 11.065H13.036V9.965H10.656L10.646 9.975ZM6.596 9.975H9.086V17.995H6.596V9.975Z"
                        fill="#E9E9E0"
                      />
                    </svg>
                  </div></a
                >
                <a href="https://www.tiktok.com/@athenacareersph/" class="w-inline-block"><div class="w-embed">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M16.9962 5.82C16.3127 5.03953 15.936 4.0374 15.9362 3H12.8462V15.4C12.8228 16.0712 12.5397 16.7071 12.0565 17.1735C11.5732 17.6399 10.9278 17.9004 10.2562 17.9C8.83615 17.9 7.65615 16.74 7.65615 15.3C7.65615 13.58 9.31615 12.29 11.0262 12.82V9.66C7.57615 9.2 4.55615 11.88 4.55615 15.3C4.55615 18.63 7.31615 21 10.2462 21C13.3862 21 15.9362 18.45 15.9362 15.3V9.01C17.1892 9.90985 18.6935 10.3926 20.2362 10.39V7.3C20.2362 7.3 18.3562 7.39 16.9962 5.82Z"
                        fill="#E9E9E0"
                      />
                    </svg>
                  </div></a
                >
              </div>
            </div>

            <div id="w-node-_3baf290f-4a6f-02cf-138b-8bde46825cf9-46825cda" class="athena flexbox default-horizontal gap96 mobile-reduce mobile-wrap">
              <div class="athena text-color sage">
                <div class="w-layout-vflex athena flexbox default-vertical">
                  <div class="athena text-color white"><div class="athena body-18">About</div></div>
                  <a href="/pricing" aria-current="page" class="athena body-18 w--current">Pricing</a>
                  <a href="/about" class="athena body-18">Company</a>
                  <a href="/leadership" class="athena body-18">Leadership</a>
                  <a href="https://jobs.athena.com/#openroles" class="athena body-18">Corporate Roles</a>
                  <a href="/security" class="athena body-18">Security</a>
                </div>
              </div>
              <div class="athena text-color sage">
                <div class="w-layout-vflex athena flexbox default-vertical">
                  <div class="athena text-color white"><div class="athena body-18">Resources</div></div>
                  <a href="/blog" class="athena body-18">Blog</a>
                  <a href="https://portal.athena.com" class="athena body-18">Client Portal</a>
                  <a href="/art-of-delegation" class="athena body-18">Art of Delegation</a>
                  <a href="/faqs" class="athena body-18">FAQs</a>
                </div>
              </div>
              <div class="athena text-color sage">
                <div class="w-layout-vflex athena flexbox default-vertical">
                  <div class="athena text-color white"><div class="athena body-18">Assistants</div></div>
                  <a href="https://jobs.athena.com/#benefits" class="athena body-18">Benefits</a>
                  <a href="https://jobs.athena.com/#process" class="athena body-18">Hiring Process</a>
                  <a href="https://jobs.athena.com/#testimonials" class="athena body-18">Testimonials</a>
                  <a href="https://jobs.athena.com/#openroles" class="athena body-18">Apply Now</a>
                </div>
              </div>
            </div>

            <div id="w-node-_3baf290f-4a6f-02cf-138b-8bde46825cf2-46825cda" class="w-layout-hflex athena flexbox default-horizontal gap32 mobile-reduce mobile-wrap">
              <p data-figma-id="223:451" class="copyright-2024-athena-llc">Copyright © 2025 Athena LLC</p>
              <a href="/terms" class="copyright-2024-athena-llc">Terms and Conditions</a>
              <a href="/privacy" class="copyright-2024-athena-llc">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script is:inline>
    (function () {
      const nav = document.querySelector('.athena.nav');
      if (nav) {
        const openBtn = nav.querySelector('[data-openbutton]');
        const closeBtn = nav.querySelector('[data-closebutton]');

        function setMobileOpen(isOpen) {
          nav.setAttribute('data-mobile-open', isOpen ? '1' : '0');
        }

        openBtn?.addEventListener('click', () => setMobileOpen(true));
        closeBtn?.addEventListener('click', () => setMobileOpen(false));

        nav.querySelectorAll('a[href]').forEach((a) => {
          a.addEventListener('click', () => {
            const href = a.getAttribute('href') || '';
            if (href.includes('#')) setMobileOpen(false);
          });
        });
      }

      const planToggle = document.getElementById('plan_toggle');
      const monthlyText = document.querySelector('[data-monthlytext]');
      const salePillTop = document.querySelector('[data-salepilltop]');

      const priceEl = document.querySelector('[data-price]');
      const saleValueEl = document.querySelector('[data-salevalue]');
      const frequencyEl = document.querySelector('[data-frequency]');
      const cardToggleEl = document.querySelector('[data-cardtoggle]');
      const monthlyNoticeEl = document.querySelector('[data-monthlynotice]');
      const dynamicCtaEl = document.querySelector('[data-dynamic]');

      let mode = 'annual';
      let payment = 'monthly';

      function setText(el, text) {
        if (!el) return;
        el.textContent = text;
      }

      function setVisible(el, isVisible) {
        if (!el) return;
        el.style.display = isVisible ? '' : 'none';
      }

      function updatePricing() {
        if (!priceEl || !frequencyEl) return;

        if (mode === 'monthly') {
          setVisible(cardToggleEl, false);
          setVisible(saleValueEl, false);
          setVisible(monthlyNoticeEl, true);
          if (monthlyText) monthlyText.style.textDecoration = 'underline';
          if (dynamicCtaEl) dynamicCtaEl.setAttribute('data-loc', 'EA - M Pay - M Commit');

          payment = 'monthly';
          setText(priceEl, '3,600');
          setText(frequencyEl, 'per month');
        } else {
          setVisible(cardToggleEl, true);
          setVisible(monthlyNoticeEl, false);
          setVisible(saleValueEl, true);
          if (monthlyText) monthlyText.style.textDecoration = 'none';

          if (payment === 'monthly') {
            if (dynamicCtaEl) dynamicCtaEl.setAttribute('data-loc', 'EA - M Pay - A Commit');
            setText(priceEl, '3,000');
            setText(frequencyEl, 'per month, annual commitment ($36,000/yr)');
            setText(saleValueEl, 'See upfront pricing to save ~8%');
          } else {
            if (dynamicCtaEl) dynamicCtaEl.setAttribute('data-loc', 'EA - A Pay - A Commit');
            setText(priceEl, '33,000');
            setText(frequencyEl, 'per year, annual commitment');
            setText(saleValueEl, 'Best Value');
          }
        }

        const toggles = cardToggleEl ? Array.from(cardToggleEl.querySelectorAll('.pilled-toggle')) : [];
        toggles.forEach((t) => {
          const tMode = t.getAttribute('data-mode');
          t.classList.toggle('active', tMode === payment);
        });
      }

      function setMode(nextMode) {
        mode = nextMode;
        if (salePillTop) salePillTop.classList.toggle('lit', mode === 'annual');
        updatePricing();
      }

      function togglePayment() {
        payment = payment === 'monthly' ? 'upfront' : 'monthly';
        updatePricing();
      }

      planToggle?.addEventListener('click', () => {
        setMode(planToggle.checked ? 'annual' : 'monthly');
      });

      if (cardToggleEl) {
        cardToggleEl.addEventListener('click', (e) => {
          const target = e.target instanceof Element ? e.target.closest('.pilled-toggle') : null;
          if (!target) return;
          togglePayment();
        });
      }

      setMode(planToggle && planToggle.checked ? 'annual' : 'monthly');
    })();
  </script>
</AthenaComBase>
