---
import { clsx } from 'clsx/lite'
import Section from '../elements/section.astro'

const {
  features,
  ...props
} = Astro.props
---

<Section {...props}>
  <div class="grid grid-cols-1 gap-2 lg:grid-cols-2">
    <Fragment set:html={features} />
  </div>
</Section>