---
import { clsx } from 'clsx/lite'
import { Container } from '../elements/container'
import { Heading } from '../elements/heading'
import { Text } from '../elements/text'

const { eyebrow, headline, subheadline, cta, className, ...props } = Astro.props
---

<section class={clsx('py-16', className)} {...props}>
  <Container class="flex flex-col gap-6">
    {eyebrow}
    <Heading>{headline}</Heading>
    <Text size="lg" class="flex max-w-xl flex-col gap-4">
      {subheadline}
    </Text>
    {cta}
  </Container>
</section>