---
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Component Tests</title>
	</head>
	<body>
		<main class="p-8">
			<slot />
		</main>
	</body>
</html>